Checks: '*,
        -altera*,
        -fuchsia*,
        -llvm*,
        -*avoid-goto,
        -modernize-use-trailing-return-type,
        -readability-identifier-length,
        -readability-function-cognitive-complexity,
        -*special-member-functions
        '

CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key: readability-qualified-auto.AddConstToQualified
    value: false

WarningsAsErrors: '*'

HeaderFilterRegex: ''
